
<div>
<h1>Login! </h1>

<p><%= flash[:error] %> </p>

<%= form_for (:user) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br><br>

<%= f.label :email_address %>
<%= f.email_field :email_address %>

<%= f.label :password %>
<%= f.password_field :password %> <br><br>

<%= f.submit "Log In" %>

<% end %>

</div>