<div class="container">
<%= form_for @meal do |f| %>

   <div class="field has-addons">
      <div class="control is-expanded">
         <div class="select is-fullwidth">
            <%#f.label :category %> 
            <%= f.select :category, [["Category"],["Breakfast"], ["Lunch"], ["Brunch"], ["Dinner"]]%>
         </div>
      </div>
      <div class="control">
         <button type="submit" class="button is-info">Select</button>
      </div>
   </div>

 
   <div class="field has-addons">
      <div class="control is-expanded">
         <div class="is-fullwidth">
            <label><strong> <%= f.label :meal %></strong></label>
            <%= f.text_field :name %><br><br>
         </div>
      </div>
   </div>

 <div>
    <%= f.label :date_prepared %>
    <%= f.date_field :date %><br><br>
 </div>
 <div>
    <%= f.label :notes %>
    <%= f.text_area :notes %><br><br>
 </div>
 <hr>
 <p> Select a Recipe that already exists: </p> <%#No longer required to be filled in, but leaving on the form for now %>
 <div>
    <%= f.collection_select :recipe_id, Recipe.all, :id, :name, {prompt: "Choose an existing Recipe"} %>
 </div>
 <p><strong> Or create a new Recipe: </strong></p> 

 <div>   
    <%= f.fields_for :recipes do |r|  %>
        <%= r.label :name %>
        <%= r.text_field :name %>
        <%= r.label :is_vegan? %>
        <%= r.check_box :is_vegan %><br><br>
        <%= r.label :cooking_instruction %>
        <%= r.text_area :instruction %>
    <% end %>
 </div>

   <div class="control">
      <button class="button is-info"><%=f.submit "Save Meal" %></button>
   </div>
 <% end %>
</div>