
<div class="container has-background-success-light">
 <h1 class="title is-3 has-text-success-dark has-text-centered has-text-weight-bold">All the meals! </h1>
  <%# Add filter to narrow down meals %>
  <div class="columns is-multiline">
   <% Meal.all.each do |m| %>
      <div class="column is-one-third">
            <div class="card">
                <div class="card-header"> 
                  <p class="title is-5 card-header-title"><%= m.name %> </p>
                </div>
                <div class="card-content">
                  <div class="content">
                    <p>Date Prepared: <%= m.date.try(:to_formatted_s, :long) %> for <%= m.category %>.
                    <p class="has-text-success-dark has-text-centered has-text-weight-bold"><strong>This meal is rated <%= m.rating %> stars!</strong></p>
                  </div>

                  <footer class="card-footer">
                    <%= link_to "View", meal_path(m.id), class:"card-footer-item" %> <br>
                    <%# link_to "Add Recipe", new_meal_recipe_path(m.id), class:"card-footer-item" %> <br>
                    <%= link_to "Edit", edit_meal_path(m.id), class:"card-footer-item"  %> <br>
                    <%= link_to "Delete", m, method: :delete, data:{confirm: "Are you sure you want to delete this meal?"}, class:"card-footer-item"   %><br>
                  </footer> 
                </div>
            </div>
      </div>
   <% end %>       
  </div> 
</div> <br>

  


<p>These are all the meals that have been prepared. </p>
<%# See about having a filter for category  %>
<%# Add rating to this page  %>
