<h1 class="title">All the meals! </h1>
  
  <div class="columns">
   <% Meal.all.each do |m| %>
      <div class="column is-one-third">
       <div class="card">
           <div class="card-content">
              <p class="title is-5"><%= m.name %> </p>
              Date Prepared: <%= m.date.try(:to_formatted_s, :long) %> for <%= m.category %><br>
              <p><strong>This meal is rated <%= m.rating %> stars!</strong></p><br>
              <footer class="card-footer">
                <%= link_to "Add Recipe", new_meal_recipe_path(m.id), class:"card-footer-item" %> <br>
                <%= link_to "Edit", edit_meal_path(m.id), class:"card-footer-item"  %> <br>
                <%= link_to "Delete", m, method: :delete, data:{confirm: "Are you sure you want to delete this meal?"}, class:"card-footer-item"   %><br>
              </footer> 
           </div>
       </div>
      </div>
   <% end %>
  </div> 

  


<p>These are all the meals that have been prepared. </p>
<%# See about having a filter for category  %>
<%# Add rating to this page  %>
