<!DOCTYPE html>
<html>
  
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nyam Um</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="container">

  <div class="container"> 
    <nav class="level">
      <p class="level-item has-text-centered">
        <%= link_to "All Meals", meals_path %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to "New Meal", new_meal_path %>
      </p>
      <p class="level-item has-text-centered">
        <%= image_tag("nyam-um.png", alt: "Nyam Um") %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to "All Recipes", recipes_path %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to "Log Out", logout_path, method: :delete %>
      </p>

    </nav>
  </div><br>

  <body>
    <%= yield %>
  </body>
  </div>
</html>